<content>
	<div class="row-body">
		<div class="panel-left">
			<i class="icon"></i>
		</div>
		<div class="panel-right">
			<h1></h1>
			<h5>Version <span></span></h5>

			<div class="details">
				<div class="field-row">
					<div>Author</div>
					<div class="author"></div>
				</div>
				<div class="field-row">
					<div>Size</div>
					<div class="size"></div>
				</div>
				<div class="field-row">
					<div>Last updated</div>
					<div class="modified"></div>
				</div>
				<div class="field-row">
					<div>License</div>
					<div class="license" data-click="show-license"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-foot">
		2020 &copy; Defiant System AB. All Rights Reserverd. License Agreement
	</div>
</content>
